@using System.Data
@model DataRow

<div class="container mt-5 col-md-6">
    <div class="card shadow">
        <div class="card-header bg-warning"><h4>✏️ Sửa Môn Học: @Model["MAMH"]</h4></div>
        <div class="card-body">
            <form method="post" action="/Home/LuuSuaMonHoc">
                <input type="hidden" name="mamh" value="@Model["MAMH"]" />
                <input type="hidden" name="makh" value="@Model["MAKH"]" />

                <div class="mb-3">
                    <label>Tên Môn Học:</label>
                    <input type="text" name="tenmh" class="form-control" value="@Model["TENMH"]" required />
                </div>

                <button class="btn btn-warning w-100">Lưu Thay Đổi</button>
                <a href="/Home/MonHoc" class="btn btn-secondary w-100 mt-2">Hủy</a>
            </form>
        </div>
    </div>
</div>